In [3]:
import numpy as np
import pandas as pd

import yfinance as yf

In [4]:


prices = yf.Ticker('AAPL').history('5y')
prices = prices.rename(columns=str.lower).rename_axis(index=str.lower)
prices

,open,high,low,close,volume,dividends,stock splits
date,,,,,,,
2019-12-23 00:00:00-05:00,67.992226,68.893845,67.953445,68.833252,98572000,0.0,0.0
2019-12-24 00:00:00-05:00,69.000488,69.048965,68.571495,68.898689,48478800,0.0,0.0
2019-12-26 00:00:00-05:00,69.032013,70.282646,69.002929,70.265678,93121200,0.0,0.0
2019-12-27 00:00:00-05:00,70.558929,71.249687,69.831818,70.238998,146266000,0.0,0.0
2019-12-30 00:00:00-05:00,70.156593,70.939453,69.128944,70.655876,144114400,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-16 00:00:00-05:00,247.990005,251.380005,247.649994,251.039993,51694800,0.0,0.0
2024-12-17 00:00:00-05:00,250.080002,253.830002,249.779999,253.479996,51356400,0.0,0.0
2024-12-18 00:00:00-05:00,252.160004,254.279999,247.740005,248.050003,56774100,0.0,0.0
2024-12-19 00:00:00-05:00,247.500000,252.000000,247.089996,249.789993,60882300,0.0,0.0
2024-12-20 00:00:00-05:00,248.039993,255.000000,245.690002,254.490005,146890100,0.0,0.0

In [10]:
np.asarray(prices['close'], dtype=None)

array([ 68.83325195,  68.89868927,  70.26567841, ..., 248.05000305,
       249.78999329, 254.49000549])

In [ ]:



from mintalib.indicators import EMA, SMA, ROC, RSI, EVAL, LOG

# compute and append indicators to prices
result = prices.assign(
    sma50 = SMA(50),
    sma200 = SMA(200),
    rsi = RSI(14),
    slope = ROC(1) @ EMA(20) @ LOG(),
    uptrend = EVAL("sma50 > sma200")
)

result