In [1]:
import numpy as np
import pandas as pd

from mintalib.samples import sample_prices

In [ ]:
prices = sample_prices()
prices

                  open        high         low       close     volume
date
1980-12-12    0.098943    0.099373    0.098943    0.098943  469033600
1980-12-15    0.094211    0.094211    0.093781    0.093781  175884800
1980-12-16    0.087328    0.087328    0.086898    0.086898  105728000
1980-12-17    0.089049    0.089479    0.089049    0.089049   86441600
1980-12-18    0.091630    0.092061    0.091630    0.091630   73449600
...                ...         ...         ...         ...        ...
2024-10-15  233.610001  237.490005  232.369995  233.850006   64751400
2024-10-16  231.600006  232.119995  229.839996  231.779999   34082200
2024-10-17  233.429993  233.850006  230.520004  232.149994   32993800
2024-10-18  236.179993  236.179993  234.009995  235.000000   46431500
2024-10-21  234.449997  236.850006  234.449997  236.479996   36220800

[11056 rows x 5 columns]

In [3]:
np.asarray(prices['close'], dtype=None)

array([9.89432186e-02, 9.37812775e-02, 8.68979320e-02, ...,
       2.32149994e+02, 2.35000000e+02, 2.36479996e+02])

In [4]:
from mintalib.indicators import EMA, SMA, ROC, RSI, EVAL, LOG

# compute and append indicators to prices
result = prices.assign(
    sma50 = SMA(50),
    sma200 = SMA(200),
    rsi = RSI(14),
    slope = ROC(1) @ EMA(20) @ LOG(),
    uptrend = EVAL("sma50 > sma200")
)

result

,open,high,low,close,volume,sma50,sma200,rsi,slope,uptrend
date,,,,,,,,,,
1980-12-12,0.098943,0.099373,0.098943,0.098943,469033600,NaN,NaN,NaN,NaN,0.0
1980-12-15,0.094211,0.094211,0.093781,0.093781,175884800,NaN,NaN,NaN,NaN,0.0
1980-12-16,0.087328,0.087328,0.086898,0.086898,105728000,NaN,NaN,NaN,NaN,0.0
1980-12-17,0.089049,0.089479,0.089049,0.089049,86441600,NaN,NaN,NaN,NaN,0.0
1980-12-18,0.091630,0.092061,0.091630,0.091630,73449600,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
2024-10-15,233.610001,237.490005,232.369995,233.850006,64751400,224.138625,198.832826,61.199897,0.000548,1.0
2024-10-16,231.600006,232.119995,229.839996,231.779999,34082200,224.634417,199.032715,57.519445,0.000340,1.0
2024-10-17,233.429993,233.850006,230.520004,232.149994,32993800,225.085868,199.268774,58.005573,0.000335,1.0
2024-10-18,236.179993,236.179993,234.009995,235.000000,46431500,225.524600,199.526006,61.646411,0.000517,1.0
2024-10-21,234.449997,236.850006,234.449997,236.479996,36220800,225.934400,199.802295,63.419998,0.000578,1.0